<nav class="navbar navbar-ligth bg-primary">
  <div class="container-fluid">
      <h1 style="color:aliceblue">Tipo de Productos</h1>
      <div class="d-grid gap-2 d-md-block">
        <button (click)="clickAdd()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear</button>
        <a class="btn btn-primary mx-3" routerLink="/product-presentation" role="button">Productos</a>
        <a class="btn btn-primary" routerLink="/category-read" role="button">Volver</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="col-xs-1 my-2" align="left">
      Filtrar por Id Categoría: <input [(ngModel)]="filter[0]" id="filterIdInput">
    </div>
    <div class="col-xs-1 my-2" align="left">
      Filtrar por descripción: <input  [(ngModel)]="filter[1]"id="filterDescInput">
    </div>
    <div class="col-xs-1 my-2" align="left">
      <button class="btn btn-primary  mx-3" (click)="getFilterSubcategories()" (click)="config.currentPage=1; banIsFilter=1">Filtrar</button>
      <button class="btn btn-primary  mx-3" (click)="getSubcategories()" (click)="config.currentPage=1; banIsFilter=0" onclick="document.getElementById('filterDescInput').value = '';document.getElementById('filterIdInput').value = ''">Quitar Filtros</button>
    </div>
  </div>
  <p *ngIf="message!=''">{{ message }}</p>
  <div class="container text-rigth">
    <div class="row">
      <div class="col-md">
        <div class="table-responsive">
          <table class="table table-striped caption-top">
            <caption>
              Lista de Tipo de Productos
            </caption>

            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Descripción</th>
                <th scope="col">Id Categoria</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of subcategories">
                <td>{{ p.idTipoProducto }}</td>
                <td>{{ p.descripcion }}</td>
                <td>{{ p.idCategoria.idCategoria }}</td>
                <td>
                  <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editSubcategory(p)">Editar</button>
                    <button class="btn btn-danger mx-3" (click)="deleteSubcategory(p)">Eliminar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="showAdd" class="modal-title" id="exampleModalLabel">Agregar tipo</h5>
          <h5 *ngIf="showUpdate" class="modal-title" id="exampleModalLabel">Editar tipo</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup] = "formValue">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Descripción</label>
              <input type="text" formControlName="descripcion" class="form-control">
              <label for="exampleInputEmail2" class="form-label">Id Categoria</label>
              <input type="text" formControlName="categoria" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" *ngIf="showAdd" class="btn btn-primary" (click)="saveSubcategory()">Agregar</button>
          <button type="button" *ngIf="showUpdate" class="btn btn-primary" (click)="updateSubcategory()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example" >
    <ul class="pagination justify-content-end mx-4">
      <li class="page-item"><a *ngIf="config.currentPage>1" class="page-link" (click)="changePage(config.currentPage-1)">Anterior</a></li>
      <li class="page-item"><a class="page-link active">{{config.currentPage}} </a></li>
      <li class="page-item"><a *ngIf="subcategories.length>1"class="page-link" (click)="changePage(config.currentPage+1)">Siguiente</a></li>
    </ul>
  </nav>
