<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
  <a class="navbar-brand" href="#">Patient Tracking System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/category-read" role="button"
        >Categorías</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/patient-read" role="button"
        >Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" role="button"
        >Reservas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/service-register" role="button"
            >Servicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report"  role="button"
        >Reporte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/attention-schedule" role="button"
        >Horario de atencion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/horario-excepcion" role="button"
        >Horario Excepción</a>
      </li>
    </ul>

  </div>
</nav>
