<nav class="navbar navbar-ligth bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">Patient Tracking System</h1>
  </div>

<br>
<div class="container text-center">
  <div class="row">
    <div class="col-md">
      <div class="container-fluid">
        <div class="d-grid gap-2 d-md-block">
          <a class="btn btn-primary mx-3" routerLink="/category-read" role="button"
            >Categorías</a>
            <a class="btn btn-primary mx-3" routerLink=""role="button"
            >Pacientes</a>
            <a class="btn btn-primary mx-3" href="#" role="button"
            >Reservas</a>
            <a class="btn btn-primary mx-3" routerLink="/service-register" role="button"
            >Servicio</a>
            <a class="btn btn-primary mx-3" href="#" role="button"
            >Reporte</a>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>
