<section>
  <div class="col-xs-1" aling="center">
    <div class="p-3 mb-2 bg-primary text-white" style="--bs-bg-opacity: 0.8">
      Bienvenido
    </div>

    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Categoría
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/category-read">Listar categorias</a></li>
        <li><a class="dropdown-item" href="/category-create">Crear categoria</a></li>
      </ul>
    </div>
  </div>
</section>
