<nav class="navbar navbar-dark bg-dark" style="border-top:1px solid white">
  <div class="container-fluid">
      <h1 style="color:aliceblue">Servicios</h1>
      <div class="gap-2 d-flex justify-content-end">
    

        <a class="btn bg-white shadow" routerLink="/subcategory-management" role="button">Volver</a>
      </div>
    </div>
  </nav>
<div class="card mx-2 pt-2">
  
  <div class="card-body">
    <h4>Filtros de busqueda</h4>

    <!-- Filter section -->
    <form [formGroup]="formValue">
      <div class="row filters">
        <div class="col-sm-12 col-md-6">
          <label for="date-start" class="form-label">Fecha desde</label>
          <input
            formControlName="dateStart"
            type="date"
            id="date-start"
            class="form-control"
          />
        </div>
        <div class="col-sm-12 col-md-6">
          <label for="date-end" class="form-label">Fecha hasta</label>
          <input
            formControlName="dateEnd"
            type="date"
            id="date-end"
            class="form-control"
          />
        </div>

        <!--Modal funtionality  -->

        <div class="col-sm-12 col-md-6">
          <input
            type="hidden"
            formControlName="idEmployee"
            id="empleado"
            class="form-control"
          />
          <label for="empleado" class="form-label">Empleado</label>
          <input
            type="text"
            formControlName="nameEmployee"
            id="empleado-name"
            class="form-control"
          />
          <button
            (click)="showModal('searchEmployee')"
            class="btn btn-primary my-1 w-100"
            data-bs-toggle="modal"
            data-bs-target="#genericModal"
          >
            Buscar
          </button>
        </div>

        <div class="col-sm-12 col-md-6">
          <input
            type="hidden"
            formControlName="idClient"
            id="cliente"
            class="form-control"
          />
          <label for="cliente-name" class="form-label">Cliente</label>
          <input
            type="text"
            formControlName="nameClient"
            id="cliente-name"
            class="form-control"
          />
          <button
            (click)="showModal('searchClient')"
            class="btn btn-primary my-1 w-100"
            data-bs-toggle="modal"
            data-bs-target="#genericModal"
          >
            Buscar
          </button>
        </div>

        <!--End of Modal funtionality  -->

        <div class="col-sm-12 col-md-6">
          <label for="categoria" class="form-label">Categoria</label>
          <select
            formControlName="category"
            name="categoria"
            id="categoria"
            class="form-select"
          >
            <option value="">Selecciona un valor</option>
            <option
              *ngFor="let category of categories"
              [value]="category.idCategoria"
            >
              {{ category.descripcion }}
            </option>
          </select>
        </div>

        <div class="col-sm-12 col-md-6">
          <label for="sub-categoria" class="form-label">Subcategoria</label>
          <select
            formControlName="subcategory"
            name="subcategory"
            id="sub-categoria"
            class="form-control"
          >
            <option value="">Selecciona un valor</option>
            <option
              *ngFor="let subcategory of subcategories"
              [value]="subcategory.idTipoProducto"
            >
              {{ subcategory.descripcion }}
            </option>
          </select>
        </div>

        <div class="d-flex gap-2 my-2 justify-content-end">
          <button class="btn btn-primary" id="btn-search" (click)="search()">
            Buscar
          </button>
          <button
            class="btn btn-danger"
            id="btn-clean"
            (click)="cleanFilters()"
          >
            Limpiar
          </button>
        </div>
      </div>
    </form>

    <!-- Services table -->
    <table class="table table-responsive mt-5 pb-5 rounded border">
      <thead class="thead-dark">
        <tr>
          <th>Fecha</th>
          <th>Id Ficha</th>
          <th>Fecha Ficha</th>
          <th>Profesional</th>
          <th>Cliente</th>
          <th>Categoria</th>
          <th>Subcategoria</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services">
          <td>{{ service.fechaHora }}</td>
          <td>{{ service.idFichaClinica.idFichaClinica }}</td>
          <td>{{ service.idFichaClinica.fechaHora }}</td>
          <td>{{ service.idFichaClinica.idEmpleado.nombre }}</td>
          <td>{{ service.idFichaClinica.idCliente.nombre }}</td>
          <td>
            {{ service.idFichaClinica.idTipoProducto.idCategoria.descripcion }}
          </td>
          <td>{{ service.idFichaClinica.idTipoProducto.descripcion }}</td>

          <td class="d-flex gap-2">
            <button class="btn btn-warning text-white">Editar Servicion</button>
            <button class="btn btn-info text-white">ver</button>
          </td>
        </tr>
        <tr *ngIf="services.length == 0">
          <td colspan="8">
            <span class="text-danger text-center"
              >No se encontraron resultados</span
            >
          </td>
        </tr>
      </tbody>
    </table>

    <div class="my-5 d-flex justify-content-end">
      <button
        class="btn btn-primary"
        (click)="showModal('createService')"
        data-bs-toggle="modal"
        data-bs-target="#agregarServicioModal"
      >
        Agregar Servicio
      </button>
    </div>
  </div>
</div>

<!-- Modals -->
<div
  class="modal fade"
  id="genericModal"
  tabindex="-1"
  aria-labelledby="genericModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="modalEmployee" class="modal-title" id="modalEmployeeLabel">
          Buscar Empleado
        </h5>
        <h5 *ngIf="modalClient" class="modal-title" id="modalClientLabel">
          Buscar Cliente
        </h5>
        <h5
          *ngIf="modalAgregarServicio"
          class="modal-title"
          id="modalClientLabel"
        >
          Agregar Servicio
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- <form [formGroup] = "formValue"> -->
        <div *ngIf="modalEmployee || modalClient" class="table-responsive">
          <table class="table w-100">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Ruc</th>
                <th>Cédula</th>
                <th>Tipo Persona</th>
                <th>Fecha de Nacimiento</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of clientsAndEmployees">
                <td>{{ person.idPersona }}</td>
                <td>{{ person.nombre }}</td>
                <td>{{ person.apellido }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.ruc }}</td>
                <td>{{ person.cedula }}</td>
                <td>{{ person.tipoPersona }}</td>
                <td>{{ person.fechaNacimiento }}</td>
                <td>
                  <button
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="setModalOptionSelected(person)"
                  >
                    Seleccionar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="modalAgregarServicio" class="table-responsive">
          <form [formGroup]="agregarForm">
            <div class="row">
              <h2>Filtros</h2>
              <div class="col col-md-12">
                <div class="form-group">
                  <label for="idFechaClinica">Fecha</label>
                  <input
                    type="date"
                    class="form-control"
                    id="idFechaClinica"
                    formControlName="date"
                  />
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <input
                  type="hidden"
                  formControlName="idClient"
                  id="empleado"
                  class="form-control"
                />
                <label for="empleado" class="form-label">Empleado</label>
                <input
                  type="text"
                  formControlName="nameEmployee"
                  id="empleado-name"
                  class="form-control"
                />
                <button
                  (click)="showModal('searchEmployee')"
                  class="btn btn-primary my-1 w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#genericModal"
                >
                  Buscar
                </button>
              </div>

              <div class="col-sm-12 col-md-6">
                <input
                  type="hidden"
                  formControlName="idClient"
                  id="cliente"
                  class="form-control"
                />
                <label for="cliente-name" class="form-label">Cliente</label>
                <input
                  type="text"
                  formControlName="nameClient"
                  id="cliente-name"
                  class="form-control"
                />
                <button
                  (click)="showModal('searchClient')"
                  class="btn btn-primary my-1 w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#genericModal"
                >
                  Buscar
                </button>
              </div>

              <div class="col-12 my-2">
                <h2>Campos disponibles para la creacion del servicio</h2>
                <div class="form-group">
                  <label for="idFichaClinica">Observacion</label>
                  <input type="text" class="form-control" id="idObservacion" />
                </div>
                <div class="text-center">
                  <h4>
                    Seleccione una Ficha clinica de la tabla y presione el boton
                    guardar
                  </h4>
                </div>
              </div>
            </div>
          </form>

          <table class="table w-100">
            <thead>
              <tr>
                <th>Id Ficha</th>
                <th>Fecha Categoria</th>
                <th>Subcategoria</th>
                <th>Empleado</th>
                <th>Cliente</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let clinicalRecord of clinicalRecords">
                <td>{{ clinicalRecord.idFichaClinica }}</td>
                <td>{{ clinicalRecord.fechaHora }}</td>
                <td>{{ clinicalRecord.idTipoProducto.descripcion }}</td>
                <td>{{ clinicalRecord.idEmpleado.nombre }}</td>
                <td>{{ clinicalRecord.idCliente.nombre }}</td>
                <td>
                  <!-- <button
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="setModalOptionSelected(person)"
                  >
                    Seleccionar
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="agregarServicioModal"
  tabindex="-1"
  aria-labelledby="agregarServicioModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          *ngIf="modalAgregarServicio"
          class="modal-title"
          id="modalClientLabel"
        >
          Agregar Servicio
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- <form [formGroup] = "formValue"> -->

        <div class="table-responsive">
          <form [formGroup]="agregarForm">
            <div class="row">
              <h2>Filtros</h2>
              <div class="col col-md-12">
                <div class="form-group">
                  <label for="idFechaClinica">Fecha</label>
                  <input
                    type="date"
                    class="form-control"
                    id="idFechaClinica"
                    formControlName="date"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Empleado</label>
                  <select
                    formControlName="idEmployee"
                    id="idEmployee"
                    class="form-control form-select"
                  >
                    <option
                      *ngFor="let person of clientsAndEmployees"
                      [value]="person.idPersona"
                    >
                      {{ person.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Cliente</label>
                  <select
                    formControlName="idClient"
                    class="form-control form-select"
                  >
                    <option
                      *ngFor="let person of clientsAndEmployees"
                      [value]="person.idPersona"
                    >
                      {{ person.nombre }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-end">
                <button
                  (click)="search('clinicalRecord')"
                  class="btn btn-primary m-1"
                >
                  Filtrar
                </button>
                <button (click)="cleanFilters()" class="btn btn-danger my-1">
                  Limpiar
                </button>
              </div>

              <div class="col-12 my-2 py-5">
                <h2>Campos disponibles para la creacion del servicio</h2>
                <div class="form-group">
                  <label for="idFichaClinica">Observacion</label>
                  <input
                    type="text"
                    class="form-control"
                    id="idObservacion"
                    formControlName="observacion"
                  />
                </div>
              </div>
              <div class="text-center">
                <h4>
                  Seleccione una Ficha clinica de la tabla y presione el boton
                  guardar
                </h4>
              </div>
            </div>

            <table class="table w-100">
              <thead>
                <tr>
                  <th>Id Ficha</th>
                  <th>Fecha Categoria</th>
                  <th>Subcategoria</th>
                  <th>Empleado</th>
                  <th>Cliente</th>
                  <th>Seleccionar Ficha</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let clinicalRecord of clinicalRecords">
                  <td>{{ clinicalRecord.idFichaClinica }}</td>
                  <td>{{ clinicalRecord.fechaHora }}</td>
                  <td>{{ clinicalRecord.idTipoProducto.descripcion }}</td>
                  <td>{{ clinicalRecord.idEmpleado.nombre }}</td>
                  <td>{{ clinicalRecord.idCliente.nombre }}</td>
                  <td class="text-center">
                    <input
                      type="radio"
                      formControlName="clinicalRecordSelected"
                      [value]="clinicalRecord.idFichaClinica"
                      placeholder="Selected"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="storeService()"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
