<nav class="navbar navbar-dark bg-dark" style="border-top: 1px solid white;">
<div class="container-fluid">
    <h2 style="color:aliceblue">Categorías</h2>
    <div class="d-flex justify-content-end gap-2">
      <button (click)="clickAdd()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear</button>
      <a class="btn bg-white shadow" routerLink="/subcategory-management" role="button">Subcategorias</a>
      <a class="btn bg-white shadow" routerLink="" role="button">Volver</a>
    </div>
  </div>
</nav>
<p *ngIf="message!=''">{{ message }}</p>
<div class="container text-rigth">
  <div class="row">
    <div class="col-md">
      <div class="table-responsive">
        <table class="table table-striped caption-top">
          <caption>
            Lista de categorías
          </caption>

          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Descripción</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of categories">
              <td>{{ p.idCategoria }}</td>
              <td>{{ p.descripcion }}</td>
              <td>
                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editCategory(p)">Editar</button>
                <button class="btn btn-danger mx-3" (click)="deleteCategory(p)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="showAdd" class="modal-title" id="agregar">Agregar Categoría</h5>
        <h5 *ngIf="showUpdate" class="modal-title" id="editar">Editar Categoría</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "formValue">
          <div class="mb-3">
            <label class="form-label">Descripción</label>
            <input type="text" formControlName="descripcion" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" *ngIf="showAdd" class="btn btn-primary" (click)="saveCategory()">Agregar</button>
        <button type="button" *ngIf="showUpdate" class="btn btn-primary" (click)="updateCategory()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a *ngIf="config.currentPage>1" class="page-link" (click)="changePage(config.currentPage-1)">Anterior</a></li>
    <li class="page-item"><a class="page-link active" (click)="changePage(config.currentPage-1)">{{config.currentPage}} </a></li>
    <li class="page-item"><a *ngIf="categories.length>1"class="page-link" (click)="changePage(config.currentPage+1)">Siguiente</a></li>
  </ul>
</nav>
