<nav class="navbar navbar-ligth bg-primary">
  <div class="container-fluid">
    <h1 style="color:aliceblue">Pacientes</h1>
    <div class="d-flex">
      <button (click)="clickAdd()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear Paciente</button>
      <a class="btn btn-primary" routerLink="" role="button">Volver</a>
    </div>
  </div>
</nav>




<div class="container">

  <form [formGroup]="formFilters">
    <div class="col-xs-1 my-2" align="left">
      Filtrar por nombre: <input formControlName="nombre">
    </div>
    <div class="col-xs-1 my-2" align="left">
      Filtrar por apellido: <input formControlName="apellido">
    </div>
    <div class="col-xs-1 my-2" align="left">
      Solo Usuarios del Sistema: <input type="checkbox" formControlName="soloUsuariosDelSistema">
    </div>
  </form>

  <div class="col-xs-1 my-2" align="left">
    <button class="btn btn-primary  mx-3" (click)="getFilterPatients()">Filtrar</button>
    <button class="btn btn-primary  mx-3" (click)="clearFilter()">Quitar Filtros</button>
  </div>
</div>





<div class="container text-rigth">
  <div class="row">
    <div class="col-md">
      <div class="table-responsive">
        <table class="table table-striped caption-top">
          <caption>
            Lista de pacientes
            <p *ngIf="message!=''">{{ message }}</p>
          </caption>
         <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">RUC</th>
            <th scope="col">Cédula</th>
            <th scope="col">Tipo Persona</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Acción</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let patient of patients">
            <th scope="row">{{patient.idPersona}}</th>
            <td>{{patient.nombre}}</td>
            <td>{{patient.apellido}}</td>
            <td>{{patient.telefono}}</td>
            <td>{{patient.email}}</td>
            <td>{{patient.ruc}}</td>
            <td>{{patient.cedula}}</td>
            <td>{{patient.tipoPersona}}</td>
            <td>{{patient.fechaNacimiento}}</td>
            <td>
              <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editPatient(patient)">Editar</button>
                <button class="btn btn-danger mx-3" (click)="deletePatient(patient)">Eliminar</button>
              </div>
            </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="showAdd" class="modal-title" id="agregarPacienteLabel">Agregar Paciente</h5>
        <h5 *ngIf="showUpdate" class="modal-title" id="exampleModalLabel">Editar Paciente</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control"  [(ngModel)]="patient.nombre" >

            <label for="exampleInputEmail1" class="form-label">Apellido</label>
            <input type="text" formControlName="apellido" class="form-control"  [(ngModel)]="patient.apellido" >

            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control"  [(ngModel)]="patient.email" >

            <label for="exampleInputEmail1" class="form-label">Teléfono</label>
            <input type="text" formControlName="telefono" class="form-control"  [(ngModel)]="patient.telefono" >

            <label for="exampleInputEmail1" class="form-label">RUC</label>
            <input type="text" formControlName="ruc" class="form-control"  [(ngModel)]="patient.ruc" >

            <label for="exampleInputEmail1" class="form-label">Cédula</label>
            <input type="text" formControlName="cedula" class="form-control"  [(ngModel)]="patient.cedula" >

            <label for="exampleInputEmail1" class="form-label">Tipo Persona</label>
            <input type="text" formControlName="tipoPersona" class="form-control"  [(ngModel)]="patient.tipoPersona" >

            <label for="exampleInputEmail1" class="form-label">Fecha de Nacimiento (YYYY-MM-DD HH:MM:SS)</label>
            <input type="text" formControlName="fechaNacimiento" class="form-control"  [(ngModel)]="patient.fechaNacimiento" >

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" *ngIf="showAdd" class="btn btn-primary" (click)="savePatient()">Agregar</button>
        <button type="button" *ngIf="showUpdate" class="btn btn-primary" (click)="updatePatient()">Actualizar</button>
      </div>
    </div>
  </div>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end mx-4">
    <li class="page-item"><a *ngIf="config.currentPage>1" class="page-link" (click)="changePage(config.currentPage-1)">Anterior</a></li>
    <li class="page-item"><a class="page-link active">{{config.currentPage}} </a></li>
    <li class="page-item"><a *ngIf="patients.length>1"class="page-link" (click)="changePage(config.currentPage+1)">Siguiente</a></li>
  </ul>
</nav>
